<div class="container">
  <div class="row justify-content-center">
    <ul class="cards">
      <li class="card card-1 ">
        <div class="content">
          <div class="j-card1 jumbotron main">
            <h1 class="display-5">經歷</h1>
            <hr class="my-4" />
            <p class="j-text card-text">
              ˙賽百味餐飲(Subway)-服務人員</br>
              ˙台北101國際購物中心-商場客服部</br>
              ˙世新大學無障礙資源中心-課輔教師</br>
              ˙中央資訊社資訊中心-實習生</br>
              ˙開璽囍餅-行銷及程式實習生</br>
            </p>
          </div>
        </div>
      </li>
      <li class="card card-2">
        <div class="content">
          <div class="j-card2 jumbotron main">
            <h1 class="display-5">學歷</h1>

            <hr class="my-4" />
            <p class="j-text card-text">
              ˙國立嘉義高級中學(日間部)100.9-103.6</br>
              ˙私立世新大學(資訊傳播學系)103.9-108.2</br>
              ˙ALPHAcamp(後端開發實務)108.10-10`8.12
            </p class="card-text">
          </div>
        </div>
      </li>
      <li class="card card-3">
        <div class="content">
          <div class="j-card3 jumbotron main">
            <h1 class="display-5">自我介紹</h1>
            <h6 class="lead">
              我是一個程式初學者，在這裡分享我學習的歷程及目前為止的成果，整理我學習的方法與過程。
            </h6>
            <hr class="my-4" />
            <p class="j-text card-text">
              嗨，我是Burton，畢業於世新大學資訊傳播學系，課程除了數位行銷及媒體企劃還接觸到基礎的程式語言並燃起我對於程式的熱忱，在學期間亦不斷鼓勵自己精進程式能力。
            </p>
          </div>
      </li>
    </ul>
  </div>
</div>
</div>